*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: inherit;
}
html {
  font-size: 62.5%;
  box-sizing: border-box;
}
body {
  font-family: var(--font-primary);
  position: relative;
  margin: 0;
  padding: 0;
  font-size: 1.6rem;
  overflow-x: hidden;
  background-color: var(--pageColor);
}
button {
  background: none;
  border: none;
  padding: 0;
  font-size: 1rem;
  color: white;
}
.colorBar__item {
  height: 1rem;
  background-color: var(--blue);
}
.colorBar__item_left {
  float: left;
  background-color: var(--orange);
  width: 15%;
  height: 1rem;
}
main {
  position: relative;
  width: 100%;
  height: calc(100% - 1rem);
  transition: opacity 0.5s;
  background-color: var(--white);
}
.navbar {
  padding: 1rem;
  list-style-type: none;
  display: flex;
  justify-content: left;
  flex-direction: column;
  width: 100%;
}
.navLink {
  color: white;
  padding: 0.5rem;
  display: none;
}
.dim {
  opacity: 0.5;
}
header {
  position: fixed;
  font-size: 2rem;
  width: 100%;
  z-index: 1;
}
.headerBar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-right: 2rem;
}
.ctaBtn,
.threeSixtyBtn {
  text-decoration: none;
  cursor: pointer;
  color: var(--white);
  transition: all 0.3s;
}
.threeSixtyBtn {
  position: absolute;
  padding: 0 2rem 2rem 0;
  bottom: 0;
  right: 0;
}
.hamburger {
  z-index: 1;
  padding: 1rem;
  cursor: pointer;
}
.ctaBtn:hover,
.threeSixtyBtn:hover {
  color: var(--hover);
}
header .hamburger:hover .line {
  background-color: var(--hover);
}
.line {
  width: 3rem;
  height: 0.5rem;
  background-color: var(--white);
  margin: 0.5rem;
  transition: all 0.3s;
}
.homeVideo {
  width: 100%;
  height: 100%;
  object-fit: cover;
  aspect-ratio: 1/5;
}
.closeBtn {
  cursor: pointer;
  font-size: 2rem;
  padding: 1rem;
}
.searchBar {
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 2rem;
  margin-bottom: 2rem;
}
#sideMenu {
  right: -100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 2rem;
  position: fixed;
  background: var(--lavendar);
  top: 0;
  right: -110%;
  bottom: 0;
  width: 100%;
  color: var(--white);
  z-index: 2;
  transition: right 0.3s ease; /* Smooth sliding transition */
}
.sideMenuLinks {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 100%;
}
#sideMenu.showPanel {
  display: flex;
  right: 0;
}
.sideMenu__item {
  position: relative;
  width: 100%;
}
.sideMenu__item a {
  text-decoration: none;
}
.sideMenu__item span {
  display: inline-block;
  width: 99%;
  text-align: center;
  justify-content: center;
  margin-bottom: 0.5rem;
  color: var(--lavendar);
  background-color: transparent;
  padding: 2rem;
  font-weight: bolder;
  text-transform: uppercase;
  background-color: var(--white);
  transition: background-color 1.5s, color 0.3s;
}
.sideMenu__item span:hover {
  background-color: var(--blue);
  color: white;
}
.sideMenu__item img {
  display: none;
  object-fit: contain;
  width: 99%;
  opacity: 0.5;
}
.sideMenu__item a {
  background-color: var(--lavendar);
}
.sideMenu__item a:hover {
  opacity: 1;
}
.hero {
  position: relative;
}
/* Overlay */
.overlay {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 600px;
  margin: -300px;
}

.overlay img {
  width: 100%;
  padding-bottom: 6%;
  padding-top: 25%;
}
.subLinks {
  display: none;
}
.subLinks a {
  background-color: var(--link);
  display: inline-block;
  color: var(--white);
  text-decoration: none;
  width: 30%;
  padding: 1.5rem 0 1.5rem 0;
  font-size: 1.2rem;
  font-weight: bolder;
}
.subLinks a:hover {
  background-color: var(--linkHover);
  border-bottom: 3px solid var(--highlight);
}
.subLinks a:hover {
  color: var(--lavendar);
}
/* eof Overlay */
.content {
  margin: 0 auto;
  text-align: center;
  max-width: 1800px;
  padding: 5rem;
}
.content a {
  display: inline-block;
  margin: 30px auto 0 auto;
  max-width: 1200px;
  width: 70%;
  overflow: hidden;
}
.content a img {
  width: 175%;
}
@media (min-width: 360px) {
  .navbar {
    flex-direction: row;
  }
  .overlay {
    width: 300px;
    margin-left: -150px;
  }
}

@media (min-width: 768px) {
  .overlay {
    width: 450px;
    margin-left: -225px;
  }
  .subLinks {
    text-align: center;
    display: flex;
    justify-content: space-around;
  }
  .subLinks a {
    transition: all 0.5s;
  }
  .sideMenu__item {
    width: 50%;
  }
  .sideMenuLinks {
    flex-direction: row;
    overflow: hidden;
  }
  .sideMenu__item a {
    transition: opacity 0.5s;
  }
  .sideMenu__item span {
    position: absolute;
    width: 100%;
    top: 50%;
    transform: translateY(-50%);
    color: var(--white);
    background-color: transparent;
  }
  .sideMenu__item span:hover {
    background-color: transparent;
    opacity: 1;
  }
  .sideMenu__item img {
    display: block;
    padding: 0;
    margin: 0;
    opacity: 0.5;
    transition: opacity ease 0.5s;
  }
  .sideMenu__item img:hover,
  .sideMenu_item a span:hover {
    opacity: 1;
  }
}
@media (min-width: 1000px) {
  #sideMenu {
    width: 75%;
  }
  .overlay {
    width: 600px;
    margin-left: -300px;
  }
  .content a img {
    width: 100%;
  }
  /* .sideMenu__item {
    width: 33.333%;
  } */
  .hide {
    display: none;
  }
  .show {
    display: block;
  }
}
